body {
    background-color: white;
}


.custom-size {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}

.card-body-style {
    background-color: whitesmoke;
}

.icons{
    display: inline-block;
margin-top: auto;
margin-bottom: auto;
position: sticky;

}

div.icons>img
{
    margin: 20px ;
    align-self: center;
    padding: 15px;
    border-radius: 20%;
    width: 70px;
    background-color: rgb(240, 240, 240);
}

.right
{
    display: inline-block;
}