body {
    background-color: white;
}



.card-body-style {
    background-color: whitesmoke;
}


div.icons>img {
    margin: 20px;
    align-self: center;
    padding: 15px;
    border-radius: 20%;
    width: 70px;
    background-color: rgb(240, 240, 240);
}

.contact{
    position: fixed;
}

