body {
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(32,42,52,1) 51%, rgba(129,129,129,1) 100%);    width: 100%; */
  background-image: url("/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
    height: 100vh;
}

.customNav{
    background-color: rgba(255, 255, 255, 0.2);

}

.defaultMargin{
margin: 2%;
}
.pageContainer{
    border-radius: 10px;
    width: 100%;
    height: 85vh;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}


.contacts > a {
    font-size: 175%;
    color: black;
    display: block;
    margin-top: 5vh;
    border-radius: 20%;
}

.contacts{
    height: 50%;
    text-align: center;
    border-radius: 10px;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

